@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?nz5ktb') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?nz5ktb') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?nz5ktb##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-arrow_drop_down {
  &:before {
    content: $icon-arrow_drop_down; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-file-movie-o {
  &:before {
    content: $icon-file-movie-o; 
  }
}
.icon-file-video-o {
  &:before {
    content: $icon-file-video-o; 
  }
}
.icon-file-archive-o {
  &:before {
    content: $icon-file-archive-o; 
  }
}
.icon-file-zip-o {
  &:before {
    content: $icon-file-zip-o; 
  }
}
.icon-file-code-o {
  &:before {
    content: $icon-file-code-o; 
  }
}
.icon-file-audio-o {
  &:before {
    content: $icon-file-audio-o; 
  }
}
.icon-file-sound-o {
  &:before {
    content: $icon-file-sound-o; 
  }
}
.icon-file-image-o {
  &:before {
    content: $icon-file-image-o; 
  }
}
.icon-file-photo-o {
  &:before {
    content: $icon-file-photo-o; 
  }
}
.icon-file-picture-o {
  &:before {
    content: $icon-file-picture-o; 
  }
}
.icon-file-powerpoint-o {
  &:before {
    content: $icon-file-powerpoint-o; 
  }
}
.icon-file-excel-o {
  &:before {
    content: $icon-file-excel-o; 
  }
}
.icon-file-word-o {
  &:before {
    content: $icon-file-word-o; 
  }
}
.icon-file-pdf-o {
  &:before {
    content: $icon-file-pdf-o; 
  }
}
.icon-file-text-o {
  &:before {
    content: $icon-file-text-o; 
  }
}
.icon-file-o {
  &:before {
    content: $icon-file-o; 
  }
}
.icon-slideshare {
  &:before {
    content: $icon-slideshare; 
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-xing {
  &:before {
    content: $icon-xing; 
  }
}
.icon-twitter1 {
  &:before {
    content: $icon-twitter1; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-flickr {
  &:before {
    content: $icon-flickr; 
  }
}
.icon-behance {
  &:before {
    content: $icon-behance; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr; 
  }
}
.icon-drupal {
  &:before {
    content: $icon-drupal; 
  }
}
.icon-bitbucket {
  &:before {
    content: $icon-bitbucket; 
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo; 
  }
}
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}
.icon-youtube-play {
  &:before {
    content: $icon-youtube-play; 
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-feed {
  &:before {
    content: $icon-feed; 
  }
}
.icon-rss {
  &:before {
    content: $icon-rss; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}

