$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-x: "\e92d";
$icon-twitter: "\e92d";
$icon-download: "\e921";
$icon-arrow_drop_down: "\e920";
$icon-minus: "\e90c";
$icon-plus: "\e90d";
$icon-file: "\e90b";
$icon-chevron-right: "\e905";
$icon-chevron-left: "\e906";
$icon-chevron-down: "\e907";
$icon-chevron-up: "\e908";
$icon-search: "\e909";
$icon-arrow-right: "\e90a";
$icon-file-movie-o: "\e92b";
$icon-file-video-o: "\e92b";
$icon-file-archive-o: "\e92c";
$icon-file-zip-o: "\e92c";
$icon-file-code-o: "\e922";
$icon-file-audio-o: "\e923";
$icon-file-sound-o: "\e923";
$icon-file-image-o: "\e924";
$icon-file-photo-o: "\e924";
$icon-file-picture-o: "\e924";
$icon-file-powerpoint-o: "\e925";
$icon-file-excel-o: "\e926";
$icon-file-word-o: "\e927";
$icon-file-pdf-o: "\e928";
$icon-file-text-o: "\e929";
$icon-file-o: "\e92a";
$icon-slideshare: "\e900";
$icon-google-plus: "\e901";
$icon-facebook: "\e902";
$icon-facebook-f: "\e902";
$icon-vk: "\e903";
$icon-whatsapp: "\e904";
$icon-pinterest: "\e90e";
$icon-xing: "\e90f";
$icon-twitter1: "\e910";
$icon-linkedin: "\e911";
$icon-flickr: "\e912";
$icon-behance: "\e913";
$icon-phone: "\e914";
$icon-tumblr: "\e915";
$icon-drupal: "\e916";
$icon-bitbucket: "\e917";
$icon-gitlab: "\e918";
$icon-github: "\e919";
$icon-vimeo: "\e91a";
$icon-globe: "\e91b";
$icon-youtube-play: "\e91c";
$icon-envelope-o: "\e91d";
$icon-instagram: "\e91e";
$icon-feed: "\e91f";
$icon-rss: "\e91f";
$icon-notification: "\ea08";
$icon-info: "\ea0c";

