<button class="navbar-toggler" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ 'Close'|t }}">
  <div class="toggler-icon-wrapper d-flex align-items-center justify-content-center">
    <span class="navbar-toggler-icon btn-close"></span>
  </div>
</button>
