
{# Placeholder teaser image at 3x2 ratio for inclusion. #}
<div class="placeholder-image-container field--name-field-media-image">
  <div class="media--image">
    {% include '@nc_theme/SVG/placeholder--3-2.svg.twig' %}
  </div>
</div>
