<button class="navbar-toggler search-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch" aria-expanded="false" aria-label="{{ 'Toggle search'|t }}">
  <div class="toggler-icon-wrapper d-flex align-items-center justify-content-center">
    <span class="navbar-toggler-icon"></span>
  </div>
</button>
