

// +++++++++ Navbar Togglers

.navbar-toggler {
  border: 0;

  &:focus {
    box-shadow: var(--#{$prefix}focus-ring-box-shadow);
  }
}


// ===== Search Toggle

.search-toggle {
  .toggler-icon-wrapper {
    width: 1.5em;
    height: 1.5em;
  }

  .navbar-toggler-icon {
    --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-search-toggler-icon-bg)};
    width: 1em;
    height: 1em;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .search-toggle .navbar-toggler-icon {
      --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-search-toggler-icon-bg)};
    }
  }
}
