{% set id_suffix = random() %}
<svg class="icon icon--status bi" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" tabindex="-1" focusable="false" role="img" aria-labelledby="icon-warning-title-{{ id_suffix }}">
  <title id="icon-warning-title-{{ id_suffix }}">{{ 'Warning'|t }}</title>
  <use xlink:href="/themes/custom/nc_theme/dist/img/icons/bootstrap-icons.svg#exclamation-circle-fill"></use>
</svg>
