@import "../../src/scss/init";

.card.contact {
  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 5px;
  }

  .card-text .text-formatted {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 992px) {
  .layout--nc-layout-onecol .card.contact .card-text {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;

    .text-formatted {
      flex: 0 0 100%;
    }
  }
}